<html>
<head>
<title>Join {{title}} on Slack!</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel="shortcut icon" href="https://slack.global.ssl.fastly.net/272a/img/icons/favicon-32.png">
<link href="style.css" media="all" rel="stylesheet" />

<style>
.logo.org{background-image:url({{logo}});margin-right:7rem}

</style>

</head>
<body>
<div class="splash">
<div class="logos">
<div class="logo org"></div>
<div class="logo slack"></div>
</div>
<p>Join <b>{{title}}</b> on Slack.</p>
<p class="status">
<b class="active">{{active}}</b> users online now of <b class="total">{{total}}</b> registered.
</p>
<form id="invite" method="POST">
<input id="ee" type="email" name="email" placeholder="you@yourdomain.com" autofocus=true class="form-item">
<div id="trigger" class="loading">Get my Invite</div>
</form>
<p class="signin">or <a href="https://{{slackname}}.slack.com" target="_top">sign in</a>.</p>

<footer>powered by <a href="https://github.com/PerfectServers/SwiftSlack" target="_blank">SwiftSlack</a>, a Swift version of <a href="http://rauchg.com/slackin" target="_blank">slackin</a></footer>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>
$("#trigger").click(function(){
	var body = {}
	body.email = $("#ee").val();
	var request = $.ajax({
		url: "/invite",
		method: "POST",
		dataType: "json",
		data: JSON.stringify(body)
	});

	request.done(function( d ) {
		$("#trigger").text(d.msg);
	});
	return false;
});

var request = $.ajax({
	url: "/api/v1/stats",
	method: "GET",
	dataType: "json"
});

request.done(function( d ) {
	//console.log(d);
	$("#active").text(d.active);
	$("#total").text(d.total);
});

</script>
</div>
</body>
</html>
